.format {
  color:blue;
  font-family:'Comfortaa';
}

body {
  background:lightblue;
  font-family: 'Lato';
}

.important {
  color:#003366;
  font-family:'Lato';
}

a:hover {
  color:green;
}

.fun {
color:#191970;
font-family:'Comfortaa'
}

button {
  color:blue;
    a:hover 
  color:green;
}

.images {
  height:300px;
  width:auto;
  display:inline-block;
  margin:10px;
}
